@page
@model AboutModel
@{
    ViewData["Title"] = "Om sidan";
}
<h2>@ViewData["Title"]</h2>
<h3>Information om utvecklaren</h3>
<p>Jag heter Yamo Gebrewold, är 26 år gammal från Malmö. Jag studerar webbutveckling på Mittuniversitetet och arbetar samtidigt som webbutvecklare på ett konsultföretag.</p>
<p>Jag brinner för att lära mig nya tekniker och bli bättre på programmering.</p>
