@page
@model IndexModel
@{
    ViewData["Title"] = "ASP.NET med C#";
}

    <div class="homepage">
        <h1>@ViewData["Title"]</h1>

        <p>
            ASP.NET används för att skapa dynamiska webbsidor och är utvecklat av Microsoft. ASP.NET är baserat på .NET Framework. Den största fördelen med ASP.NET mot andra tekniker inom samma genre är att ASP.NET är komponent- och eventbaserat samt att det bygger på fullfjädrade programspråk i stället för enklare skriptspråk som vissa konkurrerande tekniker använder. ASP är en förkortning av "Active Server Pages".
        </p>
        <cite><a href="https://sv.wikipedia.org/wiki/ASP.NET" target="_blank">Från Wikipedia</a></cite>
    </div>